<button *ngIf="homeButton" mat-raised-button routerLink="/home" [state]="{actions:false}">Home</button>

<div class="table mat-elevation-z8 ">
  <mat-table [dataSource]="dataSource" matSort>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="'actions'">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="create()">
          <mat-icon  matTooltip="Add new Category">add</mat-icon>
        </button>
      </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          <button mat-icon-button color="warn" (click)="delete(element)" >
            <mat-icon matTooltip="Delete Category">delete</mat-icon>
          </button>
      </mat-cell>
    </ng-container>

  </mat-table>

  <mat-paginator [pageSize]="4"
                 [pageSizeOptions]="[4, 10, 20]"
                 showFirstLastButtons></mat-paginator>

</div>
