<!--<body class="row h-100 justify-content-center align-items-center">-->
<h1 class="d-flex justify-content-center">Eldorado Challenge</h1>
<button mat-raised-button routerLink="/devices" [state]="{actions:true}">Device Manager</button>

<!--<button routerLink="/devices"></button>-->
<!--<button routerLink="/devices">Category Manager</button>-->
<app-device-manager></app-device-manager>

<button mat-raised-button routerLink="/categories" [state]="{actions:true}">Category Manager</button>

<app-category-manager></app-category-manager>
<!--</body>-->

